
@{
    ViewBag.Title = "HowTo";
}

<h2>Submit New Project Request</h2>

<div>
    The project prioritization process is the framework we use for selecting the projects that best support key initiative and provide the greatest value to the health system. Please review the information on this page before beginning the project proposal submission process.
    <br /><br />
    <br />1.	Anyone can initiate a request for project resources.
    <br />2.	The requestor completes the Project Request form and uploads it via the PMO Intranet “Submit New Project Request” tab.
    <br />3.	An email notification of the request form receipt is sent to the requestor.
    <br />4.	The PMO Program Director receives and evaluates the project request and determines the HSIS resource requirement and scores the project based on approved criteria.
    <br />5.	The ISSC reviews the project request and votes to accept, postpone, or deny the request.
    <br />6.	If the project is approved, it is prioritized based on rank. The requestor is notified and the project planning phase is scheduled.
    <br /><br />
    @Html.ActionLink("To submit New Project Request, click here.", "Create", "Projects")
</div>

