
@{
    ViewBag.Title = "Lifecycle";
}

<h2>Project Lifecycle </h2>
<div class="padding-light">
    
        
    <p class="text-18">
        The overview of the project lifecycle is to: increase standardization and accessibility of documents, redesign of PMO website to make the process more transparent, and build for current phase but design to gradually add towards Phase III.
    </p> 
    <div class="flex">
        <div class="half-wrapper align-left">
            <ul>
                <li>
                    PDSA versus Project Phases
                    <ul>
                        <li class="padding-light"><strong>Plan </strong>– Initiating & Planning</li>
                        <li class="padding-light"><strong>Do </strong>– Executing</li>
                        <li class="padding-light"><strong>Study </strong>– Monitoring & Controlling</li>
                        <li class="padding-light"><strong>Act </strong>– Closure</li>
                    </ul>
                </li>
                <li>
                    Phase I: Initiation
                    <ul>
                        <li class="padding-light">I1 – Project Request Form</li>
                        <li class="padding-light">Request Reviewed & Researched</li>
                        <li class="padding-light">I2 – Project Steering Committee</li>
                        <li class="padding-light">I3 – Project Classification & Sizing</li>
                        <li class="padding-light">Assign Project Manager</li>
                    </ul>
                </li>
                <li>
                    Phase II: Planning
                    <ul>
                        <li class="padding-light">P1 – Requirements Management</li>
                        <li class="padding-light">P2 – Vendor Specification</li>
                        <li class="padding-light">P3 – Project Charter</li>
                        <li class="padding-light">RACI Chart</li>
                        <li class="padding-light">Additional Plans (Resource, Comm, etc.)</li>
                        <li class="padding-light">P4 – Planning Kick-Off Meeting</li>
                        <li class="padding-light">P5 – Milestones List</li>
                    </ul>
                </li>
                <li>
                    Phase III: Execution
                    <ul>
                        <li class="padding-light">E1 – Project Task List (Deliverables)</li>
                        <li class="padding-light">E2 – Communication List</li>
                        <li class="padding-light">E3 – Risk Log</li>
                        <li class="padding-light">E4 – Project Schedule</li>
                        <li class="padding-light">E5 – Issues List</li>
                        <li class="padding-light">Manage Scope, Cost, Resources</li>
                    </ul>
                </li>
                <li>
                    Phase IV: Monitoring & Controlling
                    <ul>
                        <li class="padding-light">M1 – Status Report</li>
                        <li class="padding-light">M2 – Meeting Agenda</li>
                        <li class="padding-light">M3 – Meeting Minutes</li>
                        <li class="padding-light">Status Review Meetings</li>
                        <li class="padding-light">Track Metrics</li>
                        <li class="padding-light">Approve and Document Changes</li>
                    </ul>
                </li>
                <li>
                    Phase V: Closure
                    <ul>
                        <li class="padding-light">C1 – Lessons Learned</li>
                        <li class="padding-light">C2 – Project Sign-off/Closure Document</li>
                        <li class="padding-light">Archive</li>
                        <li class="padding-light">Transition</li>
                        <li class="padding-light">Celebrate!</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="half-wrapper align-right">
            <img class="flex align-right" src="~/Pictures/projectPhases.gif" alt="Project Phases" style="width:300px;height:300px;">
            <img class="flex align-right" src="~/Pictures/projectLifecycle.gif" alt="Project Lifecycle" style="width:500px;height:350px;">
        </div>
    </div>
</div>

