@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>For questions, contact:</h3>

<div class="block">
    <div class="padding border margin-50 ">
        Thkisha De De Sanogo, MPA, MPM, PMP<br />
        PMO Program Director, HSIS<br />
        University of South Alabama Health System<br />
        <br />
        <abbr title="Phone" class="glyphicon-phone">P:</abbr> <a href="tel:2514343675">(251)434-3675</a><br />
        Fax: 251-434-5054<br />
        <a href="mailto:tsanogo@health.southalabama.edu">tsanogo@health.southalabama.edu</a><br />
    </div>
    <div class="padding border margin-50 ">
        Rosemary R. White, MBA<br />
        PMO, Project Manager<br />
        University of South Alabama Health System<br />
        <br />
        <abbr title="Phone" class="glyphicon-phone">P:</abbr> <a href="tel:2514343527">(251)434-3527</a><br />
        Fax: 251 434 3423<br />
        <a href="mailto:rrwhite@health.southalabama.edu">rrwhite@health.southalabama.edu</a><br />
    </div>
    <div class="padding border margin-50 ">
        Rossette Farrow<br />
        Project Management Intern<br />
        University of South Alabama Health System<br />
        <br />
        <abbr title="Phone" class="glyphicon-phone">P:</abbr> <a href="tel:2514343527">(251)434-3527</a><br />
        Fax: 251 434 3423<br />
        <a href="mailto:rfarrow@health.southalabama.edu">rfarrow@health.southalabama.edu</a><br />
    </div>
    <div class="padding border margin-50 ">
        Sheldon Dean<br />
        Project Management Intern<br />
        University of South Alabama Health System<br />
        <br />
        <abbr title="Phone" class="glyphicon-phone">P:</abbr> <a href="tel:2514343527">(251)-434-3527</a><br />
        Fax: 251 434 3423<br />
        <a href="mailto:sldean@health.southalabama.edu">sldean@health.southalabama.edu</a><br />
    </div>
</div>
                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>

