
@{
    ViewBag.Title = "FQA";
}

<h2>Frequently Asked Questions</h2><a name="top"></a>

<div>
    <div class="padding">
        <a href='#definition of a project'>What is the definition of a project? </a><br />
        <a href='#submit an HSIS project'> How do I submit an HSIS project request?</a><br />
        <a href='#status of my project'>How can I find out the status of my project?</a><br />
        <a href='#priority queue'>Who decides where my project sits in the priority queue?</a><br />
        <a href='#project compleated time'> It doesn't look like my project's going to be completed in the time frame I need. Is there anything I can do? </a><br />
        <a href='#service request and a project'> What's the difference between a service request and a project?</a><br />
    </div>
    <div class="padding">
        <strong>What is the definition of a project?</strong><a name="definition of a project"></a>
        <br />For HSIS, a project is any HSIS task that is expected to take 40 or more person-hours and two or more people to complete. Anything below these requirements is considered a service request and not included on the formal project schedules.
    </div>
    <div class="padding">
        <strong>How do I submit an HSIS project request?</strong><a name="submit an HSIS project"></a>
        The first step is to submit a Project Request if it's clear the request meets the criteria for a project (more than 40 hours of work and two or more people to do the work) or with a service Request Form (if you're not sure of the scope of the work required). Projects are prioritized based on the value they deliver to the University, so bear this in mind when filling out the form. If hard deadlines, such as the start of the academic year, are involved, please also include that information.
    </div>
    <div class="padding">
        <strong>How can I find out the status of my project?</strong><a name="status of my project"></a>
        <br />The HSIS Project Office Management posts and updates monthly status of all proposed and scheduled projects on the Project Prioritization. You can check the proposed projects and scheduled projects lists at any time. You can also contact the PMO Director for details.
    </div>
    <div class="padding">
        <strong>Who decides where my project sits in the priority queue?</strong><a name="priority queue"></a>
        <br />After your support request is designated a project, HSIS completes a project request form and submits that form to the ISSC. The committee assigns your project a place in the schedule based on the following criteria:
        <br />
        <br />•Project score. A weighted score is applied to the project that represents its value to the campus. The greater the projected value, the higher the score.
        <br />•Available funds. Identification of available funds to complete the project and the location of those funds.
        <br />•Available resources. Identification of HSIS and/or other department staff resources available to work on the project.
        <br /><br />
        The draft prioritized schedule is submitted to the ISSC for their review and approval.
    </div>
    <div class="padding">
        <strong>It doesn't look like my project's going to be completed in the time frame I need. Is there anything I can do?</strong><a name="project compleated time"></a>
        <br />If circumstances change during the development of your project and you find that you will need it to be completed earlier than previously thought, tell your HSIS lead as soon as possible. He or she can raise the matter with the ISSC on your behalf to see if the schedule can be altered to accommodate your changed requirements.
    </div>
    <div class="padding">
        <strong>What's the difference between a service request and a project?</strong><a name="service request and a project"></a>
        <br />A service is a relatively simple job that is not estimated to need more than one person for 40 hours to complete and won't have a knock-on effect on any other HSIS project in process. Anything that's likely to take longer and require more resources needs to be planned in. This is handled by the project management office, who will review the project proposal developed from your original support request and determine the project's overall prioritization Health System to schedule it accordingly.
    </div>
    <br />
    <br />For additional questions, contact tsanogo@health.southalabama.edu (434-3675) or dmderamus@health.southalabama.edu (434-3490)
    <br />
    <br /><a href='#top'>Return to top</a>
</div>

