
@{
    ViewBag.Title = "ISSC";
}

<h2>Information Services Steering Committee (ISSC)</h2>

<div class="feedbackSplit">Overall Committee Goal</div>
<hr style="border: 1px solid #000;" />

<p>
    The Information Services Steering Committee has the overall goal to provide organizational input and governance to the USA Health System Information Services (IS) department.
</p>

<div class="feedbackSplit">Responsibilities</div>
<hr style="border: 1px solid #000;" />

    <P>The ISSC will perform these duties:</P>
    <ul>
        <li class="padding-light">Define and monitor key metrics for the Health System Information Services department</li>
        <li class="padding-light">Monitor and provide input on the continuous improvement efforts of the department.</li>
        <li class="padding-light">Review progress on key IS strategic initiatives</li>
        <li class="padding-light">Provide input on IS’ Project Plan of Record</li>
        <li class="padding-light">Other duties as determined by the committee</li>
    </ul>

<div class="feedbackSplit">Meetings</div>
<hr style="border: 1px solid #000;" />

<p>
    The committee will meet once per quarter or as needed.  The committee will meet on the second month of each quarter.   Voting members will send a delegate empowered to represent their area if they cannot 
    attend.
</p>

<div class="feedbackSplit">Voting Members</div>
<hr style="border: 1px solid #000;" />

<p>
    The committee will be comprised of key leadership personnel from the major functional areas that IS supports.  Specifically, USA Medical Center, USA Children’s and Women’s Hospital, Health Services
    Foundation and the Mitchell Cancer Institute.  Additionally, the ISSC will have representatives from the Physician partners within the USA System.<br />
    <br />
    The current Voting Membership is:
</p>
    <ul>
        <li class="padding-light">USA Health System CIO - Chair</li>
        <li class="padding-light">USA Health System CFO</li>
        <li class="padding-light">USA Medical Center Administrator</li>
        <li class="padding-light">USA Children and Women’s Hospital Administrator</li>
        <li class="padding-light">USA Health Services Foundation CEO</li>
        <li class="padding-light">USA Mitchell Cancer Institute Associate Director for Finance and Operations</li>
        <li class="padding-light">USA Medical Center IS Physician Champion</li>
        <li class="padding-light">USA Children and Women’s Hospital IS Physician Champion</li>
        <li class="padding-light">USA Health Services Foundation IS Physician Champion’</li>
        <li class="padding-light">USA Mitchell Cancer Institute IS Physician Champion</li>
    </ul>

<p>
    The IS leadership team will be invited guests to the ISSC but not voting members.  Other USA HS leadership and staff can attend if invited by one of the Voting Members.<br />
    <br />
    The Voting Members can delegate their voting responsibility for any specific meeting.
</p>

<div class="feedbackSplit">Reports</div>
<hr style="border: 1px solid #000;" />

<p>
    Quarterly the ISSC will present the minutes from the ISSC to the Administrators of all of the major entities of the health system, the Medical Executive Committee for each of the Health System organizations 
    and the Campus IT organization.
</p>

<div class="feedbackSplit">Annual Committee Goals</div>
<hr style="border: 1px solid #000;" />

<p>
    The Committee will define their annual goals at the last meeting of the FY for the next FY.  i.e. Typically in August.
</p>